body{
    background-image: url("Software\ and\ App\ Development\ \(1\).png");
    background-size: cover;
    font-family: Montserrat-black;
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 28, 89);
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    height: 80px;
    width: 80px;
}
.header-left{
    display: flex;
    gap: 40px;
    align-items: center;
}
.header-logo{
    display: flex;
}
.navbar-brand{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}
.header-links{
    display: flex;
}
.nav-link{
    font-size: 20px;
    font-family: Montserrat-gray;
}



#page1{
    height: 600px;
    background-image: url("Software\ and\ App\ Development\ \(1\).png");
    background-repeat: no-repeat, repeat;
}


.body{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}



.btn{
    margin-left: 10px;
}
.tags{
    background-color: rgb(20, 28, 89);
    text-align: left;
}
.logo{
    height: 80px;
    width: 80px;
}
.features{
    background-color: #fff;
}

.s-bar{
    margin-left: 18%;
    margin-top: 2%;
}
.user{
    margin-top: 2%;
    font-size: 2rem;
}
.big-heading{
    margin-bottom: 40px;
    margin-top: 40px;
  }
h1,h3,h4{
    color: white;
  }
  .title-img{
    width: 480px;
    height: 500px;
}

.carousel-item
{
    padding: 5% 10%;
}









